<!doctype html5>
<html>
    <head>
        <title>Backbone example</title>
    </head>
    <body>

        <h1>The Dashboard</h1>
        <div id="dashboard_container">
        </div>

        <script type="text/template" id="widget">
            <h3><%= title %></h3>
            <p><%= type %></p>
            <p><%= content %></p>
            <button class="add">Add</button>
        </script>

        <script type="text/javascript" src="jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="underscore-min.js"></script>
        <script type="text/javascript" src="backbone-min.js"></script>
        <script type="text/javascript" src="dashboard.js"></script>
        
    </body>
</html>