<!doctype html5>
<html>
    <head>
        <title>Backbone example</title>
        <link rel="stylesheet" type="text/css" href="../../libs/css/bootstrap.min.css">
        <style type="text/css">
            .bar {
                background-color: #428bca;
                text-align: right;
                padding: 3px;
                margin: 1px;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h1>The Dashboard</h1>
                </div>
            </div>
            <div class="row">
                <div id="dashboard_container"></div>
            </div>
            <div class="row">
                <h3>Graphs</h3>
                <div id="charts"></div>
            </div>
        </div>

        <script type="text/template" id="widget">
            <div class="col-xs-6 col-sm-6 col-lg-6">
                <h3><%= title %></h3>
                <p><%= type %></p>
                <p><%= content %></p>
                <button class="addOne btn btn-primary">Add</button>
                <button class="rmOne btn btn-danger">Remove</button>
            </div>
        </script>

        <script type="text/template" id="chart_bar">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="bar" style="width: <%= content %>0px">
                    <%= title %> : <%= content %>
                </div>
            </div>
        </script>

        <script type="text/javascript" src="../../libs/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="../../libs/js/underscore-min.js"></script>
        <script type="text/javascript" src="../../libs/js/backbone-min.js"></script>
        <script type="text/javascript" src="dashboard.js"></script>
        
    </body>
</html>